<div class="container">

<!--  <button class="angular_button" (click)="callUnityFunction()">Angular button!</button>

  <h3>{{buttonInUnityText}}</h3>
-->

  <div id="unity-container" class="unity-desktop">
 
  <canvas id="unity-canvas" width=960 height=600></canvas>
  <div id="unity-loading-bar">
    <div id="unity-logo"></div>
    <div id="unity-progress-bar-empty">
      <div id="unity-progress-bar-full"></div>
    </div>
  </div>
  <div id="unity-mobile-warning"> </div>
  
  <div id="unity-footer">
   <!-- <div id="unity-webgl-logo"></div> -->
    <div id="unity-fullscreen-button"></div>
    <div id="unity-build-title">AngularUnityDataversePOC</div>
  </div>
</div>

</div>
<!--

<button class="angular_button" (click)="callUnityFunction()">Angular button!</button>

<h3>{{buttonInUnityText}}</h3>
<ng-container *ngIf="!isReady">
  <div class="progress">
    <div class="progress-bar"
         role="progressbar"
         [style.width.%]="progress*100"
         [attr.aria-valuenow]="progress*100"
         aria-valuemin="0"
         aria-valuemax="100"></div>
  </div>
  <hr />
</ng-container>

<div #unityEl id="gameContainer"
     style="display: block; width: 100%; min-height: 0px; margin: auto">
</div>


-->
