<mat-drawer-container class="container" autosize>
    
    <mat-drawer #drawer class="sidenav" mode="side" position="end" [opened]="isShowing">
    
        <div class="node-config-name">
            <h1>{{nodeConfigName}}</h1>
        </div>


        <div *ngIf="nodeConfigName == 'Data Generator Cube'">
            <h3>Data Generator Rate Per Second:</h3>
            <mat-slider min="0" max="16" step="1" value="5" (input)="sendSliderData($event)"></mat-slider>        
        </div>
        
    </mat-drawer>

</mat-drawer-container>
