<div class="home-content">
    <h2>The Dataverse unity web-gl application is below this text. 
        This is merely a placeholder to test out in which way the content breaks!
        Here will be extra information and text which describes the web app and the interactive "game" below.</h2>
</div>

<div class="home-container">

    <div class="unity-container">
        <unity></unity>    
    </div>

    <!--
    <div class="sidebar-container">
        <node-config-sidebar></node-config-sidebar>
    </div>
    -->

</div>