.home-container{
    display: flex;
    justify-content: center;
}

.home-content{
    display: flex;
    margin-left: 1%;
    width: 99vw;
    word-wrap: break-word;
}

.unity-container{    
    margin-top: 0%;
}

.sidebar-container{
    margin-left: auto;
    margin-right: 1%;
    top: 50px;
}